<% if flash.present? %>
  <div class="navbar">
    <% flash.each do |name, message| %>
      <% if [:error, :alert, :notice, :success].include?(name.to_sym) %>
        <% if flash[name] %>
          <div class="bg-<%= name %>">
            <p>
              <span class="">×</span>
              <strong><span class="<%= flash_icon_class(name) %>"></span> <%= message.html_safe %></strong>
            </p>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
<% end %>
